<!DOCTYPE html>
<html>

<head>
  <title>
    blank
  </title>

  <link href="~/Content/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>

<body ng-app="blank">
  <div class="container">

  </div>
  <script src="~/Scripts/vendor/angular/angular.js"></script>
  @Scripts.Render("~/bundles/blank")
</body>

</html>
