<html>
	<head>
		<title>AngularJS Course</title>
		<link href="~/Content/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
	</head>
	<body>
		<div class="container">
			<header class="page-header">
				<h1>AngularJS Apps <small>With Visual Studio</small></h1>
			</header>
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<h2>Instructions</h2>
					<p>This is a pretty bare-bones ASP.NET MVC 4 application. It has the following modifications for class:</p>
					<ul>
						<li>Instead of using NuGet for Bootstrap, and AngularJS these are copied directly into the project*</li>
						<li>There is an AppsController created with a route set up so you can quickly create demo apps.</li>
						<li>There is an apps folder with a fairly standard structure for creating AngularJS Applications.</li>
						<li>There is a special Bundle created, you can and should add your own.</li>
					</ul>
					
					<p><small>*I used Bower and Grunt to develop this. If you look in the solution folder there is some cool stuff.</small></p>
				</div>
			</div>
		</div>
	</body>
</html>